.containerBienvenida {
  background-color: white !important; }

html {
  font-size: 100%;
  /* 100% = 16px */
  color: #707070;
  background-color: #9660FD; }

.less50px {
  height: calc(100vh - 50px); }

.less100px {
  height: calc(100vh - 100px); }

.container-fluid {
  width: 100%;
  height: 100vh;
  display: block;
  overflow: auto;
  padding: 0; }

.content {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  background-color: #9660FD;
  _min-height: 650px; }

.containerLeft, .containerRight {
  background-color: #9660FD;
  width: 50%;
  _min-height: calc(100vh - 100px);
  _min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px; }

.containerWelcome {
  max-width: 32rem;
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center; }
  .containerWelcome .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .containerWelcome .text h1 {
      text-align: center;
      color: #60D5FD;
      font-weight: bolder; }
    .containerWelcome .text .light {
      font-weight: lighter; }
    .containerWelcome .text .imgHub {
      width: 2.5rem;
      _background-color: red;
      margin-top: 2rem;
      margin-left: .5rem; }
  .containerWelcome .imgPrincipal {
    background-color: red;
    display: flex;
    justify-content: center;
    width: 100%; }
    .containerWelcome .imgPrincipal img {
      width: 100%; }

.containerLogin {
  background-color: #F5F5F5;
  width: 25rem;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  box-shadow: 8px 8px 9px #00000029;
  display: block;
  border-radius: 1rem;
  padding: 3rem 1.50rem 2rem 1.50rem; }
  .containerLogin .imgPerfil {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1.2rem; }
    .containerLogin .imgPerfil img {
      width: 100%;
      border: 5px solid white;
      border-radius: 10rem; }

.containerSeleccionProducto {
  background-color: #F5F5F5;
  width: 26rem;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  box-shadow: 8px 8px 9px #00000029;
  display: block;
  border-radius: 13px;
  padding: 2.5rem 1.25rem 5rem 1.25rem; }
  .containerSeleccionProducto h5 {
    margin-top: 1rem; }

.containerSeleccion {
  background-color: #F5F5F5;
  width: 30rem;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  box-shadow: 8px 8px 9px #00000029;
  display: block;
  border-radius: 13px;
  padding: 4rem 2rem 3rem 2rem; }
  .containerSeleccion h5 {
    margin-top: 1rem; }

.containerSendEmail {
  background-color: #F5F5F5;
  width: 30rem;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  box-shadow: 8px 8px 9px #00000029;
  display: block;
  border-radius: 13px;
  padding: 3rem 1.50rem 2.5rem 1.50rem; }
  .containerSendEmail .botonPrimario {
    width: 80%;
    margin-left: 10%; }

.returnButton {
  width: 2.5rem; }

.productIcon {
  width: 2.5rem; }

.productIconSmall {
  width: 2.2rem; }

.productIconBig {
  width: 3rem; }

.formIcon {
  width: 1.5rem;
  margin: 0 .5rem .5rem 0; }

.adjuntoIcon {
  position: absolute;
  width: 1.75rem;
  margin: 0 .5rem .5rem 0; }

.prod1, .prod2, .prod3, .prod4 {
  margin-bottom: 1rem; }

.prod1 {
  background-color: #FE5B7E !important; }

.prod2 {
  background-color: #6084FD !important; }

.prod3 {
  background-color: #60D5FD !important; }

.prod4 {
  background-color: #7F3DFC !important; }

.containerEmailEnviado {
  background-color: #F5F5F5;
  max-width: 26.5rem;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  box-shadow: 8px 8px 9px #00000029;
  display: block;
  border-radius: 13px;
  padding: 3rem 1.25rem 2rem 1.25rem;
  text-align: center;
  color: #707070;
  position: relative; }
  .containerEmailEnviado h1 {
    color: #60D5FD;
    font-weight: bolder; }
  .containerEmailEnviado .imgNotifEnviado {
    width: 50%;
    margin-top: 1.5rem; }
  .containerEmailEnviado .msjEnviado {
    position: relative;
    background-color: #CFCFCF;
    color: #707070;
    padding: 1rem;
    _font-size: 1.1rem;
    border-radius: 9px;
    margin: 1rem;
    text-align: left; }
    .containerEmailEnviado .msjEnviado .circuloAviso {
      position: absolute;
      background-color: #9660FD;
      width: 2.12rem;
      height: 2.2rem;
      border-radius: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      right: -1rem;
      top: -1rem;
      color: white; }

@media only screen and (min-width: 1440px) {
  html {
    font-size: 120%; }

  /*     .containerLogin{
          width: 50%;
      } */ }
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .content {
    display: block; }

  html {
    font-size: 120%; }

  .botoneraProductos {
    margin: 2.25rem 0 0 0 !important; }

  .containerLeft, .containerRight {
    padding: 100px 0 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

  .containerLeft {
    height: calc(100vh - 50px); }

  .containerRight {
    _height: 100vh;
    padding-left: 15px;
    padding-right: 15px; }

  .middleRight {
    width: 100% !important;
    margin-left: 0 !important; }

  .fullDisplay {
    height: 100vh; }

  .less100px {
    height: calc(100vh - 50px); }

  .fullWidth {
    width: 100% !important; } }
.botonPrimario {
  background-color: #60D5FD;
  border-radius: .5rem;
  border: none;
  color: white;
  background: #60D5FD 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  padding: 7px;
  font-weight: 900;
  width: 100%; }

.productButton {
  background-color: #60D5FD;
  border-radius: 14px;
  border: none;
  color: white;
  height: 3.5rem;
  background: #60D5FD 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  padding: .6rem 2rem .6rem 2rem;
  font-weight: 900;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .productButton .text {
    text-align: left;
    margin-left: 1rem;
    width: 65%; }

.botonContenido {
  background-color: #E3E3E3;
  border-radius: 5px;
  border: none;
  color: #707070;
  box-shadow: 0px 3px 6px #00000029;
  padding: .5rem;
  _font-weight: 900;
  width: 100%;
  _margin-left: 10%;
  margin-bottom: 1rem;
  font-size: 1rem; }

.space {
  height: 2rem; }

.botoneraProductos {
  margin: 2.25rem 2.5rem 0 2.5rem; }

.imgPuntosChiquitos {
  width: 1rem;
  position: absolute;
  top: 2.2rem;
  left: -1.8rem; }

.imgPuntosGrandesSuperior {
  width: 1.25rem;
  position: absolute;
  top: 2.2rem;
  left: -1.9rem; }

.imgPuntosGrandesInferior {
  width: 1.25rem;
  position: absolute;
  bottom: 1.25rem;
  right: -1.9rem; }

.imgOndaVertical {
  width: .5rem;
  position: absolute;
  bottom: 1.2rem;
  right: -1.7rem; }

.contenedorScroll {
  overflow-y: scroll;
  height: 19rem;
  padding: .7rem 1.25rem .7rem 1.25rem; }

.tituloProducto {
  background-color: #60D5FD;
  border-radius: 13px !important;
  border: none;
  color: white;
  background: #60D5FD 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  padding: 7px;
  font-weight: 900;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  _padding-right: .9rem;
  padding-left: .9rem;
  padding-right: .9rem;
  height: 4rem; }
  .tituloProducto .contProducto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3rem; }
    .tituloProducto .contProducto .text {
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin: 0; }
      .tituloProducto .contProducto .text .tituloItemSeleecionable {
        font-weight: 300;
        font-size: 1rem; }

.middleRight {
  margin-left: 50%;
  width: 50%; }

.navBar {
  box-shadow: 0px 3px 6px #00000029;
  background-color: #874AFC;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px; }
  .navBar img {
    width: 35px; }

footer {
  background-color: #b38bff;
  height: 50px;
  width: 100%; }
  footer nav {
    height: 50px !important;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer .otherBrand, footer .tecoBrand {
    height: 35px; }

.modal-content {
  border-radius: 13px !important;
  border: 0 !important;
  box-shadow: 8px 8px 9px #00000029 !important; }
  .modal-content .modal-header {
    padding: 1rem 1rem 0 0 !important; }
  .modal-content .modal-body {
    text-align: center; }
    .modal-content .modal-body .tituloModal {
      color: #9660FD;
      font-size: 1.5rem;
      font-weight: bolder; }
    .modal-content .modal-body .textModal, .modal-content .modal-body a {
      color: #707070; }
  .modal-content .imgModal {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px; }

h5, h6 {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  color: #707070; }

.form .field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #707070; }
  .form .field .toComplete {
    width: calc(100% - 2.6rem); }
    .form .field .toComplete label {
      margin: 0;
      margin-top: 10px;
      font-size: .8rem;
      _font-weight: bold;
      color: #707070; }
    .form .field .toComplete input {
      width: 100%;
      margin-bottom: 5px;
      font-size: 1rem;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      padding-left: .5rem;
      padding-right: .5rem;
      color: #707070; }
  .form .field .containerMSJ {
    background-color: white;
    width: 100%;
    font-size: .7rem;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 2rem;
    margin-right: .4rem;
    margin-left: .4rem; }
.form .adjunto {
  width: 100%;
  background-color: #D5D5D5;
  color: white;
  margin-bottom: 5px;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding-left: 1.5rem; }
.form .containerLink {
  width: calc(100% - 2.6rem);
  margin-left: 2rem;
  margin-bottom: 1rem; }
  .form .containerLink .link {
    font-size: .7rem;
    color: #9660FD; }
  .form .containerLink .aclaracion {
    font-size: .7rem;
    color: #707070; }

/*# sourceMappingURL=main.css.map */
