.botonPrimario{
    background-color: $color-3;
    border-radius: .5rem;
    border: none;
    color: white;
    background: #60D5FD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 7px;
    font-weight: 700;
    width: 100%;
    
}


.productButton{
    background-color: $color-3;
    border-radius: 14px;
    border: none;
    color: white;
    height: 3.5rem;
    background: #60D5FD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: .6rem 2rem .6rem 2rem;
    font-weight: 700; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .text{
        text-align: left;
        margin-left: 1rem;
        width: 65%;
    }
}

.botonContenido{
    background-color: $color-9;
    border-radius: 5px;
    border: none;
    color: $color-4;    
    box-shadow: 0px 3px 6px #00000029;
    padding: .5rem;
    _font-weight: 700;
    width: 100%;
    _margin-left: 10%;
    margin-bottom: 1rem;    
    font-size: 1rem;
}

.space{
    height: 2rem;
}

.botoneraProductos{
    margin: 2.25rem 2.5rem 0 2.5rem;
}

.imgPuntosChiquitos{
    width: 1rem;
    position: absolute;
    top: 2.2rem;
    left: -1.8rem;
}

.imgPuntosGrandesSuperior{
    width: 1.25rem; 
    position: absolute; 
    top: 2.2rem;
    left: -1.9rem;
}

.imgPuntosGrandesInferior{
    width: 1.25rem;
    position: absolute;
    bottom: 1.25rem;
    right: -1.9rem;
}

.imgOndaVertical{
    width: .5rem; 
    position: absolute;
    bottom: 1.2rem;
    right: -1.7rem;
}

.contenedorScroll{
    overflow-y: scroll;
    height: 19rem;
    padding: .7rem 1.25rem .7rem 1.25rem;
    
}

.tituloProducto{
    background-color: $color-3;
    border-radius: 13px !important;
    border: none;
    color: white;
    background: #60D5FD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 7px;
    font-weight: 700;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    _padding-right: .9rem;
    padding-left: .9rem;
    padding-right: .9rem;
    height: 4rem;
    
    .contProducto{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 3rem;
    
        .text{
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;
            font-size: 1rem;
            margin: 0;
    
            .tituloItemSeleecionable{
                font-weight: 300;
                font-size: 1rem;
            }
        }
    }
}

.middleRight{
    margin-left: 50%;
    width: 50%;
}

.navBar{
    box-shadow: 0px 3px 6px #00000029;
    background-color: $color-5;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    
    img{
        width: 35px;
    }
}

footer{
    background-color: #b38bff;
    height: 50px;
    width: 100%;
    
    nav{
        height: 50px!important;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    .otherBrand, .tecoBrand{
        height: 35px;
    }

}


.modal-content{
    border-radius: 13px!important;
    border: 0!important;
    box-shadow: 8px 8px 9px #00000029!important;
    .modal-header{
        padding: 1rem 1rem 0 0!important;
    }
    .modal-body{
        text-align: center;
        .tituloModal{
            color: $color-1;
            font-size: 1.5rem;
            font-weight: bolder;
        }
        .textModal, a{
            color: $color-4;
        }
    }
    .imgModal{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}





h5, h6{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    color: $color-4;
}