.containerEmailEnviado{
    background-color: $color-2;
    max-width: 425px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 9px #00000029;
    display: block;
    border-radius: 13px;
    padding: 5rem 1.50rem 4rem 1.50rem;
    text-align: center;
    color: $color-4;

    h1{
        color: $color-3;    
        font-weight: bolder;
    }
    
    .imgNotifEnviado{
        width: 50%;        
        margin-top: 25px;
    }

    .msjEnviado{
        position: relative;
        background-color: $color-10;
        color: $color-4;
        padding: 15px;
        _font-size: 1.1rem;
        border-radius: 9px;
        margin: 15px;
        text-align: left;

        .circuloAviso{
            position: absolute;
            background-color: $color-1;
            width: 35px;
            height: 35px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            right: -15px;
            top: -15px;
            color: white;
        }
    }

}