
.form/* Formulario de login */
    {    
    
    .field /* este componente contiene icono, label e input */
        {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
                
        .toComplete/* contenedor: label + input */
            {
            width: calc(100% - 2.6rem);
      
            label{
                margin: 0;
                margin-top: 10px;
                font-size: 1rem;
                color: $color-4;
            }
            
            input{
                width: 100%;
                margin-bottom: 5px;                
                font-size: 1rem;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
            }
            
        }
        
    }
    

    .containerLink{
        width: calc(100% - 2.6rem);
        margin-left: 2rem;
        margin-bottom: 2rem;                
    
        .link/* Link ¿Olvidaste tu contraseña? */
        {
            font-size: .9rem;
            color:$color-1;
        }

    }

    

    
}