$color-1: #9660FD;
$color-2: #F5F5F5;
$color-3: #60D5FD;
$color-4: #707070;
$color-5: #874AFC;
$color-6: #FE5B7E;
$color-7: #6084FD;
$color-8: #7F3DFC;
$color-9: #E3E3E3;

html{
    font-size: 14px;
    color: $color-4;
}


