.maxWidth{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.contProducto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30px;

    .text{
        width: calc(100% - 50px);
        text-align: left;
        display: flex;
        align-items: center;
        font-size: .9rem!important;
        .tituloItemSeleecionable{
            font-weight: 300;
            font-size: 1rem;
        }
    }
}


/* Botones de productos */
.prod1, .prod2, .prod3, .prod4{
    margin-bottom: 15px;
    border-radius: 10px;
}

.prod1{
 background-color: $color-6 ;   
}

.prod2{
    background-color: $color-7;   
}

.prod3{
    background-color: $color-3;   
}

.prod4{
    background-color: $color-8;   
}


.tituloItemSeleecionable{
    font-weight: 300;
}

.containerSeleccion{
    background-color: $color-2;
    width: 425px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 9px #00000029;
    display: block;
    border-radius: 13px;
    padding: 5rem 1.50rem 4rem 1.50rem;

    .imgPerfil{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 10px;            
        img{
            width: 100%;
            border: 5px solid white;
            border-radius: 100px;
            

        }
    }

    .botonPrimario{
        width: 80%;
        margin-left: 10%;
    }

}